html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #1b1e27;
  color: #fff;
}

input {
  background-image: none;
  box-shadow: none;
  border: 1px solid #cacaca;
  background-color: #2c3140;
  padding: 10px;
  color: #fff;
  font-size: 22px;
}
